{
  "env": {
    "node": true
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style": 0,
    "remark-lint": 0,
    "prefer-destructuring": ["error", {"object": false, "array": true}]
  }
}
